<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>Environmental</h2>
        <p>Place holder for environmental category content.</p>

        <h2>Educational</h2>
        <p>Place holder for Educational category content.</p>

        <h2>Community Service</h2>
        <p>Place holder for Community Service category content.</p>

        <h2>Health and Wellness</h2>
        <p>Place holder for Health and Wellness category content.</p>

        <img class="main-logo" src="images/cse340-service-network.png" alt="CSE 340 Service Network Logo">

    </main>

    <%- include('partials/footer') %>