<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Here are a few of our service categories:</p>
        <ul>

            <% categories.forEach(category=> { %>
                <li>
                    <strong>
                <li>
                    <%= category.name %>
                </li>
                </strong>
                </li>
                <% }); %>
        </ul>
    </main>

    <%- include('partials/footer') %>